-# locals
-# student: the student who is subject of this partial
-# lesson : the lesson which student subscribes
%li{ id: "row-student-#{student.id}", class: ["user-row", "list-group-item"] }
  %span= student.student_id
  %span= student.name
  .pull-right= link_to "削除", lesson_student_path(lesson, student), method: :delete, data: { confirm: "生徒(#{student.student_id})を受講者から削除します" }
