%h1.center ログインが必要です.
%div.row
  %div.col-xs-6.col-xs-offset-3
    = form_for(:session, url: login_path) do |f|
      %fieldset.form-group
        = f.label 'student_id', '学生番号'
        = f.text_field 'student_id'

      %fieldset.form-group
        = f.label 'password', 'パスワード'
        = f.password_field 'password'

      %fieldset.form-group.col-xs-10.col-xs-offset-1
        = f.submit 'ログイン', class: 'btn btn-success'
