.chat-area
  %div{ id: "comment-#{comment.id}", class: "comment-info" }
    = comment.user.name
    - if current_user == comment.user
      = link_to '編集する', edit_comment_path(comment), class: "text-muted"
  .chat-bubble.me.edit
    = form_tag comment_path(comment), method: :put do
      = text_area_tag 'comment[content]', comment.content.gsub("\n", "<br />").html_safe
      =submit_tag '更新', class: "btn btn-success"
