.back-link
  = link_to "＜ #{@lesson.title} の質問一覧に戻る", lesson_questions_path(@lesson)
.container
  .question-main-info
    %span.h4.question-title= @question.title
    .pull-right
      - @question.tags.each do |tag|
        = link_to(tag.name, tag_link(tag), class: "btn btn-primary btn-sm question-tag")
  .question-subinfo
    %small.text-muted="#{@question.user.name} さんが質問しました"
  %hr
  .chat-box
    - @question.comments.each do |comment|
      - if comment.official?
        = render partial: 'comment_official', locals: { comment: comment }
      - elsif comment == @comment
        = render partial: 'comment_edit', locals: { comment: comment }
      - else
        = render partial: 'comment', locals: { comment: comment }
    - if have_right_to_comment(@lesson, current_user)
      %hr
      = render partial: 'comments/comment_form', locals: { question: @question }
