%h1= "#{@lesson.title} の質問"
= link_to '質問する', { controller: :questions, action: :new}, class: "btn btn-success"

.btn-group
  %button.btn.btn-danger.current-tag= @current_tag
  %button.btn.btn-danger.dropdown-toggle(data-toggle="dropdown")
    %span.caret

  %ul.dropdown-menu
    - @rest_tags.each do |tag|
      -# use option for spec/features/questions: it "should not set html paramter when all-tag is clicked
      - option = tag == '全ての質問' ? {} : { tag: tag }
      %li
        %a{href: lesson_questions_path(@lesson, option)}= tag

%ul{ id: "question-list", class: "list-group" }
  = render(@questions) || "まだ質問が投稿されていません．"
