%h1= "#{@lesson.title} の質問"
= link_to '質問する', { controller: :questions, action: :new}, class: "btn btn-success"

.btn-group
  %button.btn.btn-danger.current-tag= @current_tag
  %button.btn.btn-danger.dropdown-toggle(data-toggle="dropdown")
    %span.caret

  %ul.dropdown-menu
    - @rest_tags.each do |tag|
      %li
        %a{href: tag_link(tag, @lesson)}= tag

%ul{ id: "question-list", class: "list-group" }
  = render(@questions) || "まだ質問が投稿されていません．"
