%div.page-top-info.question-top
  %span.h3= "#{@lesson.title} の質問"
  = link_to '質問する', { controller: :questions, action: :new}, class: "btn-post btn btn-success"

%hr

.btn-group.tag-selector
  %button.btn.btn-primary.current-tag= @current_tag
  %button.btn.btn-primary.dropdown-toggle(data-toggle="dropdown")
    %span.caret

  %ul.dropdown-menu
    - @rest_tags.each do |tag|
      %li
        %a{href: tag_link(tag, @lesson)}= tag

%ul{ id: "question-list", class: "list-group" }
  = render(@questions) || "まだ質問が投稿されていません．"
