.back-link
  = link_to "＜ #{@lesson.title} の質問一覧に戻る", lesson_questions_path(@lesson)
.container
  .question-main-info
    - solved_btn_cls = ["btn", "btn-xs"]
    - solved_btn_cls << (@question.solved ? "btn-success" : "btn-warning")
    %span{ class: solved_btn_cls }=@question.solved ? "解決済み" : "未解決"
    %span.h4.question-title= @question.title
    .pull-right
      - @question.tags.each do |tag|
        = link_to(tag.name, tag_link(tag), class: "btn btn-primary btn-sm question-tag")
  .question-subinfo
    %small.text-muted="#{@question.user.name} さんが質問しました"
  %hr
  .chat-box
    - @question.comments.each do |comment|
      - if comment.official?
        = render partial: 'comments/comment_official', locals: { comment: comment }
      - else
        = render partial: 'comments/comment', locals: { comment: comment }
    - if have_right_to_comment(@lesson, current_user)
      %hr
      .col-xs-10.col-xs-offset-1.comment-form
        = form_for(Comment.new) do |f|
          = f.hidden_field :question_id, value: @question.id
          = f.hidden_field :user_id, value: current_user.id
          = f.text_area :content, placeholder: "気軽にコメントしてみましょう．"
          .pull-right= f.submit 'コメント', class: 'btn btn-success'

        = form_for([@lesson, @question]) do |f|
          = f.hidden_field "solved", value: !@question.solved
          - text = @question.solved ? "未解決に戻す" : "解決済みにする"
          .pull-right.space-right= f.submit text, class: 'btn btn-default'
