.back-link
  = link_to "＜ #{@lesson.title} の質問一覧に戻る", lesson_questions_path(@lesson)
.container
  = render partial: 'question_info', locals: { question: @question }
  %hr
  .chat-box
    - @question.comments.each do |comment|
      - if comment.official?
        = render partial: 'comments/comment_official', locals: { comment: comment }
      - else
        = render partial: 'comments/comment', locals: { comment: comment }
    - if have_right_to_comment(@lesson, current_user)
      %hr
      = render partial: 'comments/comment_form', locals: { question: @question }
