.back-link
  = link_to "＜ #{@lesson.title} の質問一覧に戻る", lesson_questions_path(@lesson)
.container
  .question-main-info
    - solved_btn_cls = ["btn", "btn-xs"]
    - solved_btn_cls << (@question.solved ? "btn-success" : "btn-warning")
    %span{ class: solved_btn_cls }=@question.solved ? "解決済み" : "未解決"
    %span.h4.question-title= @question.title
    .pull-right
      - @question.tags.each do |tag|
        = link_to(tag.name, tag_link(tag), class: "btn btn-primary btn-sm question-tag")
  .question-subinfo
    %small.text-muted="#{@question.user.name} さんが質問しました"
  %hr
  .chat-box
    = render @question.comments
    - if have_right_to_comment(@lesson, current_user)
      %hr
      .col-xs-10.col-xs-offset-1
        = form_for(Comment.new) do |f|
          = f.hidden_field :question_id, value: @question.id
          = f.hidden_field :user_id, value: current_user.id
          = f.text_area :content, placeholder: "気軽にコメントしてみましょう．"
          = f.submit 'コメント', class: 'btn btn-success'
